*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.main-container {
    border: 1px solid rgb(55, 255, 0);
    width: 100%;
    height: auto;
}

.Men-header {
    margin: 81px 74px 0px 76px;
    height: 35px;
    width: 90%;
    border: 1px solid red;
    display: flex;
    justify-content: space-between;
}

.Men-header p {
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
}

.empty-div{
    border: 1px solid red;
    height: 100%;
    width: 4%;
}

.mens-menu{
    height: 100%;
    width: 20%;
    border: 1px solid red;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mens-menu p{
    font-size: 17px;
}

.mens-img-div{
    height: 700px;
    width: 90%;
    margin: 20px auto;
    border: 1px solid red;
}

.gfts-add-container{
    margin: auto;
    height: 233px;
    width: 90%;
    border: 1px solid red;
    text-align: center;
}

.gfts-add-container p{
    font-size: 47px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
}

.gfts-add-container p:nth-child(2){
    position: relative;
    top: 23px;
    font-size: 20px;
    font-weight: 100;
}

.gfts-add-container button{
    position: relative;
    top: 53px;
    padding: 10px 20px;
    border-radius: 20px;
    background-color: black;
    color: white;
    border: none;
    font-size: 15px;
}
/* //////////////////////////////////////////////Men's Versatility///////////////////////////////////// */

.mens-versi-header{
    margin: 81px 74px 0px 76px;
    height: 35px;
    width: 90%;
    /* border: 1px solid red; */
}

.mens-versi-header p {
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
}

.mens-versi-img-div{
    width: 90%;
    height: 700px;
    margin: 20px auto;
    /* border: 1px solid red; */
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}

.versi-pic{
    display: inline-block;
    height: 100%;
    width: 35%;
    margin-right: 10px;
    /* border: 1px solid red; */
}

.versi-pic p{
    position: relative;
    top: 32px;
    font-size: 21px;
}

.versi-pic button{
    position: relative;
    top: 65px;
    padding: 10px 20px;
    border-radius: 20px;
    background-color: black;
    color: white;
    border: none;
    font-size: 15px;
}
/* ////////////////////////////////////////Featured header////////////////////////// */

.featured-header{
    margin: 81px 74px 0px 76px;
    height: 35px;
    width: 90%;
    border: 1px solid red;
}

.featured-header p{
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
}

.featured-img-div{
    width: 90%;
    height: 700px;
    margin: 20px auto;
    border: 1px solid red;
}

.featured-add-footer{
    margin: auto;
    height: 199px;
    width: 90%;
    border: 1px solid red;
    text-align: center;
}

.featured-add-footer p{
    font-size: 47px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
}

.featured-add-footer p:nth-child(2){
    position: relative;
    top: 23px;
    font-size: 20px;
    font-weight: 100;
}

.featured-add-footer button{
    position: relative;
    top: 53px;
    padding: 10px 20px;
    border-radius: 20px;
    background-color: black;
    color: white;
    border: none;
    font-size: 15px;
}

/* ///////////////////////////////////////Just In////////////////////////////// */

.just-in-header{
    margin: 81px 74px 0px 76px;
    height: 35px;
    width: 90%;
    border: 1px solid red;
}

.just-in-header p{
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
}

.just-in-img-div{
    width: 90%;
    height: 700px;
    margin: 20px auto;
    border: 1px solid red;
}

.just-in-add-footer{
    margin: auto;
    height: 220px;
    width: 69%;
    border: 1px solid red;
    text-align: center;
}

.just-in-add-footer p:first-child{
    position: relative;
    top: 23px;
    font-size: 16px;
    font-weight: 100;
}

.just-in-add-footer p:nth-child(2){
    font-size: 47px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    position: relative;
    top: 20px;
}

.just-in-add-footer p:nth-child(3){
    position: relative;
    top: 23px;
    font-size: 16px;
    font-weight: 100;
}

.just-in-add-footer button{
    position: relative;
    top: 45px;
    padding: 10px 20px;
    border-radius: 20px;
    background-color: black;
    color: white;
    border: none;
    font-size: 15px;
}
/* //////////////////////////////////////Latest/////////////////////////////////// */

.latest-header{
    margin: 81px 74px 0px 76px;
    height: 35px;
    width: 90%;
    border: 1px solid red;
}

.latest-header p{
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
}

.latest-img-div{
    width: 90%;
    height: 600px;
    margin: 20px auto;
    border: 1px solid red;
    display: flex;
    justify-content: space-between;
}

.latest-img-box{
    height: 100%;
    width: 33%;
    border: 1px solid black;
    position: relative;
}

.latest-img-box p{
    position: absolute;
    bottom: 120px;
    left: 60px;
    color: white;
    font-size: 16px;
    font-weight: bold;
}

.latest-img-box p:nth-of-type(2){
    position: absolute;
    bottom: 90px;
    left: 60px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.latest-img-box button{
    position: absolute;
    bottom: 36px;
    left: 60px;
    padding: 9px 23px;
    border-radius: 26px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
/* ////////////////////////////////////////////Trending//////////////////////////////// */

.trending-header{
    margin: 81px 74px 0px 76px;
    height: 35px;
    width: 90%;
    border: 1px solid red;
}

.trending-header p{
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
}

.trending-img-div{
    width: 90%;
    height: 700px;
    margin: 20px auto;
    border: 1px solid red;
    display: flex;
    justify-content: space-between;
}

.trending-add-footer{
    margin: auto;
    height: 199px;
    width: 90%;
    border: 1px solid red;
    text-align: center;
}

.trending-add-footer p{
    font-size: 47px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
}

.trending-add-footer p:nth-child(2){
    position: relative;
    top: 23px;
    font-size: 20px;
    font-weight: 100;
}

.trending-add-footer button{
    position: relative;
    top: 53px;
    padding: 10px 20px;
    border-radius: 20px;
    background-color: black;
    color: white;
    border: none;
    font-size: 15px;
}
/* ///////////////////////////////////dont footer///////////////////////////////////// */
.dont-add-footer{
    margin: auto;
    height: 250px;
    width: 90%;
    border: 1px solid red;
    text-align: center;
}

.dont-add-footer p:nth-child(1){
    font-size: 47px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
}

.dont-add-footer p:nth-child(2){
    font-size: 47px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
}

.dont-add-footer p:nth-child(3){
    position: relative;
    top: 23px;
    font-size: 20px;
    font-weight: 100;
}

.dont-add-footer button{
    position: relative;
    top: 53px;
    padding: 10px 20px;
    border-radius: 20px;
    background-color: black;
    color: white;
    border: none;
    font-size: 15px;
}
/* ///////////////////////////////////Shop The Essentials//////////////////////////////////////// */
.shop-esse{
    margin: 81px 74px 0px 76px;
    height: 35px;
    width: 90%;
    border: 1px solid red;
}

.shop-esse p{
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
}

.shop-esse-img-div{
    width: 90%;
    height: 700px;
    margin: 20px auto;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
}

.shop-esse-img-box{
    height: 70%;
    width: 33%;
    border: 1px solid black;
}

.shop-esse-img-box p:nth-of-type(1){
    font-size: 24px;
    position: relative;
    top: 50px;
}

.shop-esse-img-box p:nth-of-type(2){
    font-size: medium;
    position: relative;
    top: 80px;
    text-decoration: underline;
}
/* ///////////////////////////////////shop icons/////////////////// */

.shop-icons-header{
    margin: auto;
    height: 35px;
    width: 90%;
    /* border: 1px solid red; */
}

.shop-icons-header p{
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
}

.shop-icons-img-div{
    white-space: nowrap;
    width: 90%;
    height: 600px;
    margin: 20px auto;
    border: 1px solid red;
    overflow-x: auto;
    overflow-y: hidden;
}

.icon-box{
    display: inline-block;
    height: 100%;
    border: 1px solid black;
}

.icon-img-div{
    height: 100%;
    width: 33%;
    border: 1px solid red;
}