* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'OnePlus Sans Regular', 'Helvetica Neue', Helvetica, Arial, sans-serif, system-ui;
}

html body {
    height: 100vh;
    width: 100%;
}

.navbar{
    height: 50px;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
}

.navbar h1{
    font-size: 16px;
    padding-top: 11px;
}

.cross-icon i{
    float: right;
    border:1px solid green;
    margin-bottom: 10px;
}

#navbarTwo {
    /* border: 1px solid red; */
    width: 100%;
    height: 50px;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    font-size: 15px;
    text-align: center;
    padding-top: 3px;

}

#navbarTwo>div:nth-child(1) {
    /* border: 1px solid green; */
    height: 42px;
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

#imgdiv {
    height: 23px;
    width: 105px;
}

#Fistimg {
    width: 100%;
    height: 100%;
}

#navbarTwo>div:nth-child(2) {
    /* border: 1px solid gold; */
    height: 42px;
    width: 50px;
}

#navbarTwo>div:nth-child(3) {
    /* border: 1px solid gray; */
    width: 38%;
    height: 42px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.navbar-3{
    height: 170px;
    width: 100%;
    border: 1px solid rgb(225, 220, 220);
}

.nav-items{
    height: 150px;
    width: 80%;
    margin: 10px auto;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
}

.first-item{
    margin-top: 20px;
    /* border: 1px solid yellow; */
    height: 120px;
    width: 10%;
    text-align: center;
    cursor: pointer;
}

.first-item p{
    margin-top: 9px;
    font-size: 14px;
}

.second-item{
    margin-top: 20px;
    /* border: 1px solid yellow; */
    height: 120px;
    width: 10%;
    text-align: center;
    cursor: pointer;
}

.second-item p{
    margin-top: 9px;
    font-size: 14px;
}

.third-item{
    margin-top: 20px;
    /* border: 1px solid yellow; */
    height: 120px;
    width: 10%;
    text-align: center;
    cursor: pointer;
}

.third-item p{
    margin-top: 9px;
    font-size: 14px;
}

.fourth-item{
    margin-top: 20px;
    /* border: 1px solid yellow; */
    height: 120px;
    width: 10%;
    text-align: center;
    cursor: pointer;
}

.fourth-item p{
    margin-top: 9px;
    font-size: 14px;
}

.fifth-item{
    margin-top: 20px;
    /* border: 1px solid yellow; */
    height: 120px;
    width: 10%;
    text-align: center;
    cursor: pointer;
}

.fifth-item p{
    margin-top: 9px;
    font-size: 14px;
}

.sixth-item{
    margin-top: 20px;
    /* border: 1px solid yellow; */
    height: 120px;
    width: 10%;
    text-align: center;
    cursor: pointer;
}

.sixth-item p{
    margin-top: 9px;
    font-size: 14px;
}

.seventh-item{
    margin-top: 20px;
    /* border: 1px solid yellow; */
    height: 120px;
    width: 10%;
    text-align: center;
    cursor: pointer;
}

.seventh-item p{
    margin-top: 9px;
    font-size: 14px;
}

.eigth-item{
    margin-top: 20px;
    /* border: 1px solid yellow; */
    height: 120px;
    width: 10%;
    text-align: center;
    cursor: pointer;
}

.eigth-item p{
    margin-top: 9px;
    font-size: 14px;
}

.ninth-item{
    margin-top: 20px;
    /* border: 1px solid yellow; */
    height: 120px;
    width: 10%;
    text-align: center;
    cursor: pointer;
}

.ninth-item p{
    margin-top: 9px;
    font-size: 14px;
}

.tenth-item{
    margin-top: 20px;
    /* border: 1px solid yellow; */
    height: 120px;
    width: 10%;
    text-align: center;
    cursor: pointer;
}

.tenth-item p{
    margin-top: 9px;
    font-size: 14px;
}

.vertical-line{
    height: 100vh;
    width: 1px;
    background-color: rgb(225, 220, 220);
    position: absolute;
    right: 71%;
}

.box-left{
    border: 1px solid orange;
    height: 400px;
    width: 20%;
    margin-top: 30px;
    margin-left:50px;
    display: flex;
    align-items: center;
    flex-direction: column;
}


.series{
    border: 1px solid green;
    height: 100px;
    width: 50%;
}

.series input{
    margin-top: 15px;
}

.offers{
    border: 1px solid green;
    height: 150px;
    width: 60%;
    margin-top: 10px;
}

.offers input{
    margin-top: 15px;
}

.custom-checkbox {
    -webkit-appearance: none; 
    -moz-appearance: none;
    appearance: none;
    width: 16px;
    height: 16px; 
    border: 1px solid #333; 
    border-radius: 2px; 
}  
