* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'OnePlus Sans Regular', 'Helvetica Neue', Helvetica, Arial, sans-serif, system-ui;
}

html body {
    height: 100vh;
    width: 100%;
}

.navbar{
    height: 50px;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
}

.navbar h1{
    font-size: 16px;
    padding-top: 11px;
}

.cross-icon i{
    float: right;
    border:1px solid green;
    margin-bottom: 10px;
}

#navbarTwo {
    /* border: 1px solid red; */
    width: 100%;
    height: 50px;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    font-size: 15px;
    text-align: center;
    padding-top: 3px;

}

#navbarTwo>div:nth-child(1) {
    /* border: 1px solid green; */
    height: 42px;
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

#imgdiv {
    height: 23px;
    width: 105px;
}

#Fistimg {
    width: 100%;
    height: 100%;
}

#navbarTwo>div:nth-child(2) {
    /* border: 1px solid gold; */
    height: 42px;
    width: 50px;
}

#navbarTwo>div:nth-child(3) {
    /* border: 1px solid gray; */
    width: 38%;
    height: 42px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.navbar-3{
    height: 170px;
    width: 100%;
    border: 1px solid rgb(225, 220, 220);
}

.nav-items{
    height: 150px;
    width: 80%;
    margin: 10px auto;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
}

.first-item{
    margin-top: 20px;
    /* border: 1px solid yellow; */
    height: 120px;
    width: 10%;
    text-align: center;
    cursor: pointer;
}

.first-item p{
    margin-top: 9px;
    font-size: 14px;
}

.second-item{
    margin-top: 20px;
    /* border: 1px solid yellow; */
    height: 120px;
    width: 10%;
    text-align: center;
    cursor: pointer;
}

.second-item p{
    margin-top: 9px;
    font-size: 14px;
}

.third-item{
    margin-top: 20px;
    /* border: 1px solid yellow; */
    height: 120px;
    width: 10%;
    text-align: center;
    cursor: pointer;
}

.third-item p{
    margin-top: 9px;
    font-size: 14px;
}

.fourth-item{
    margin-top: 20px;
    /* border: 1px solid yellow; */
    height: 120px;
    width: 10%;
    text-align: center;
    cursor: pointer;
}

.fourth-item p{
    margin-top: 9px;
    font-size: 14px;
}

.fifth-item{
    margin-top: 20px;
    /* border: 1px solid yellow; */
    height: 120px;
    width: 10%;
    text-align: center;
    cursor: pointer;
}

.fifth-item p{
    margin-top: 9px;
    font-size: 14px;
}

.sixth-item{
    margin-top: 20px;
    /* border: 1px solid yellow; */
    height: 120px;
    width: 10%;
    text-align: center;
    cursor: pointer;
}

.sixth-item p{
    margin-top: 9px;
    font-size: 14px;
}

.seventh-item{
    margin-top: 20px;
    /* border: 1px solid yellow; */
    height: 120px;
    width: 10%;
    text-align: center;
    cursor: pointer;
}

.seventh-item p{
    margin-top: 9px;
    font-size: 14px;
}

.eigth-item{
    margin-top: 20px;
    /* border: 1px solid yellow; */
    height: 120px;
    width: 10%;
    text-align: center;
    cursor: pointer;
}

.eigth-item p{
    margin-top: 9px;
    font-size: 14px;
}

.ninth-item{
    margin-top: 20px;
    /* border: 1px solid yellow; */
    height: 120px;
    width: 10%;
    text-align: center;
    cursor: pointer;
}

.ninth-item p{
    margin-top: 9px;
    font-size: 14px;
}

.tenth-item{
    margin-top: 20px;
    /* border: 1px solid yellow; */
    height: 120px;
    width: 10%;
    text-align: center;
    cursor: pointer;
}

.tenth-item p{
    margin-top: 9px;
    font-size: 14px;
}

.vertical-line{
    height: 100vh;
    width: 1px;
    background-color: rgb(225, 220, 220);
    position: absolute;
    right: 71%;
}

.box-left{
    /* border: 1px solid orange; */
    height: 604px;
    width: 20%;
    margin-top: 30px;
    margin-left:50px;
    display: flex;
    align-items: center;
    flex-direction: column;
}


.series{
    /* border: 1px solid green; */
    height: 100px;
    width: 90%;
    margin-right: 29px;
    padding-left: 59px;
}

.series input{
    margin-top: 12px;
}

.offers{
    /* border: 1px solid green; */
    height: 150px;
    width: 90%;
    margin-top: 30px;
    padding-left: 40px;
}

.offers input{
    margin-top: 12px;
}

.ram-storage{
    /* border: 1px solid green; */
    height: 210px;
    width: 60%;
    margin-top: 30px;
}

.ram-storage input{
    margin-top: 12px;
}

.price{
    /* border: 1px solid green; */
    height: 210px;
    width: 60%;
    margin-top: 30px;
}

.price input{
    margin-top: 12px;
    padding-right: 50px;
}

.price > p:nth-child(2){
    margin-top: 12px;
    font-size: 15px;
}

.range-value{
    /* border: 1px solid red; */
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: grey;
    font-size: small;
}

.availablity{
    /* border: 1px solid green; */
    height: 208px;
    width: 60%;
    margin-top: 30px;
}

.availablity input{
    margin-top: 12px;
}

.custom-checkbox {
    -webkit-appearance: none; 
    -moz-appearance: none;
    appearance: none;
    width: 16px;
    height: 16px; 
    border: 1px solid #333; 
    border-radius: 2px; 
}  

.phone-section{
    /* border: 1px solid black; */
    height: 200vh;
    width: 71%;
}

.down-section{
    display: flex;
    justify-content: space-between;
}

.phone-box{
    /* border: 1px solid green; */
    height: 195vh;
    width: 95%;
    margin: 30px auto;
}

.header{
    display: flex;
    /* border: 1px solid black; */
    height: 20px;
    width: 180px;
}

.header p{
    font-size: small;
    color: grey;
    padding-right: 5px;
}

.header span{
    font-size: 14px;
}

.phone-cart{
    /* border: 1px solid yellow; */
    height: 190vh;
    width: 100%;
    margin-top: 9px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.cart-box{
    /* border: 1px solid red; */
    width: 30%;
    height: 430px;
}

.img-div img{
    width: 100%;
    height: 300px;   
    background-color: rgb(235, 232, 232);
}

.name{
    margin-top: 10px;
    /* border: 1px solid red; */
}

.name p{
    font-size: 20px
}

.offer{
    margin-top: 9px;
    /* border: 1px solid red; */
}

.offer p{
    color: red;
    font-size: small;
}

.phone-price{
    margin-top: 15px;
}

.phone-price i{
    font-size: small;
    padding-right: 12px;
}

.phone-price span{
    font-size: 15px;
}

@media screen and (max-width:1173px){
    .down-section{
        flex-direction: column;
    }
}